<div class="container global" >
    <div class="container myContainer">
        <div class="row loginGlobal">
            <div id="logForm" class="login col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 col-center-block">
                <h3 class="logText blink">LOGIN</h3>
                <hr class="loginLine">
                <label class="textUsernamePassword" for="uname">Username</label>

                <form (ngSubmit)="formSubmit()">

                  <div id="inputEmail" class="form-group input-group input">
                    <span class="input-group-addon icons"><i class="glyphicon glyphicon-user"></i></span>
                    <input [(ngModel)]="data.email" (ngModelChange)="validateEmail()" id="email" type="email" class="form-control" name="email" placeholder="Enter email" required="required">
                  </div>
                  <div class="alert alert-danger" id="alertEmail" display="none"></div>

                <label class="textUsernamePassword" for="uname">Password</label>
                  <div id="inputPassword" class="form-group input-group input">
                    <span class="input-group-addon icons"><i class="glyphicon glyphicon-lock"></i></span>
                    <input [(ngModel)]="data.password" (ngModelChange)="validatePassword()" id="password" type="password" class="form-control" name="password" placeholder="Enter password" required="required" title="Password must contain at least 6 characters.All characters are allowed">
                  </div>
                  <div class="alert alert-danger" id="alertPsw" display="none"></div>

                    <div class="remember-logBtn">
                        <label><input id="remember" class="remember" type="checkbox" name="remember"> Remember me</label>
                        <button id="btnLogId" class="btn btn-default btnLog" [disabled]="ToggleButton"><strong>LogIn</strong></button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
